name: NoIP Renew

on:
  workflow_dispatch:  
  schedule: 
    - cron: '20 7 8 * *'  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout noip-renew repository
        run: |
          git clone https://github.com/Angel0ffDeath/noip-renew.git
         
      - name: Make setup executable and run with credentials
        run: |
          chmod +x noip-renew/setup.sh
          IFS=';' read -r NOIP_USERNAME NOIP_PASSWORD NOIP_2FA_SECRET_KEY <<< "${{ secrets.NOIP_CREDENTIALS }}"
          echo "::add-mask::$NOIP_USERNAME"
          echo "::add-mask::$NOIP_PASSWORD"
          echo "::add-mask::$NOIP_2FA_SECRET_KEY"
          # Provide username, password, and 2FA each on their own line to the script's stdin
          cat <<EOF | noip-renew/setup.sh
          $NOIP_USERNAME
          $NOIP_PASSWORD
          $NOIP_2FA_SECRET_KEY
          EOF
